<aside id="sidebar">
  <nav>
    <ul>  
      <li class="all-books">
        <%= link_to "All Books", books_path, class: 'button' %>
      </li>
      <li class="create-book">
        <%= link_to 'Add New Book', new_book_path, class: 'button' %>
      </li>
    </ul>
  </nav>
</aside>